/* =========================
   GLOBAL
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #172235;
    background: #ffffff;
}

a {
    text-decoration: none;
}


/* =========================
   NAVBAR
========================= */

.navbar {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 11%;

    background: white;

    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.paw-logo {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    color: #09845d;
}

.logo-area h2 {
    font-size: 24px;
}

.logo-area h2 span {
    color: #0a9b6d;
}

.logo-area p {
    font-size: 11px;
    color: #667085;
}

nav {
    display: flex;
    gap: 38px;
}

nav a {
    color: #273444;
    font-size: 16px;
    padding: 25px 0;
}

nav a:hover,
nav a.active {
    color: #07865c;
}

nav a.active {
    border-bottom: 3px solid #07865c;
}

.nav-button {
    background: #087f59;
    color: white;

    padding: 14px 22px;
    border-radius: 12px;

    font-weight: bold;

    transition: 0.3s;
}

.nav-button:hover {
    background: #056847;
    transform: translateY(-2px);
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 475px;

    display: flex;

    background:
        linear-gradient(
            90deg,
            rgba(245, 250, 247, 0.98) 0%,
            rgba(245, 250, 247, 0.9) 45%,
            rgba(255, 255, 255, 0.05) 75%
        );

    overflow: hidden;
}

.hero-content {
    width: 52%;

    padding: 55px 0 50px 11%;

    z-index: 2;
}

.badge {
    display: inline-block;

    background: #e2f3eb;

    padding: 11px 22px;

    border-radius: 25px;

    font-size: 14px;
    color: #25483d;
}

.badge span {
    margin: 0 8px;
    color: #0b9166;
}

.hero h1 {
    margin-top: 25px;

    font-size: 62px;
    line-height: 1.05;

    letter-spacing: -2px;
}

.hero h1 span {
    color: #079a69;
}

.hero-content > p {
    margin-top: 20px;

    max-width: 590px;

    font-size: 18px;
    line-height: 1.6;

    color: #536273;
}

.hero-buttons {
    display: flex;
    gap: 22px;

    margin-top: 28px;
}

.primary-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    background: #07885e;
    color: white;

    padding: 16px 27px;

    border-radius: 11px;

    font-weight: bold;

    transition: 0.3s;
}

.primary-button:hover {
    background: #056b4a;
    transform: translateY(-2px);
}

.secondary-button {
    display: inline-flex;
    align-items: center;

    border: 2px solid #087f59;

    color: #087f59;

    padding: 14px 28px;

    border-radius: 11px;

    font-weight: bold;

    background: white;
}

.secondary-button:hover {
    background: #eaf8f2;
}

.security {
    margin-top: 20px;

    color: #65756e;

    font-size: 14px;
}

.security i {
    color: #087f59;
    margin-right: 7px;
}


/* =========================
   HERO IMAGE
========================= */

.hero-image {
    width: 48%;

    position: relative;

    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

.hero-message {
    position: absolute;
    float:left;
    left: 8%;
    top: 35%;

    color: rgba(237, 244, 241, 0.927);

    font-size: 23px;
    line-height: 1.45;

    text-align: center;

    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.hero-message span {
    display: block;

    font-size: 45px;
    margin-top: 5px;
}


/* =========================
   FEATURES
========================= */

.features {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 22px;

    padding: 25px 11%;
    
    
}


.feature-card {
    min-height: 135px;

    padding: 25px;

    display: flex;
    align-items: center;

    gap: 18px;

    border-radius: 13px;
}

.feature-card.blue {
    
    
    background: #eef7ff;
    transition: 0.3s;
}
.feature-card.blue:hover{
    transform: translateY(-3px);
}

.feature-card.green {
    
    background: #edfbf4;
    transition: 0.3s;
}
.feature-card.green:hover{
    transform: translateY(-3px);
}

.feature-card.pink {
    
    background: #fff4f1;
    transition: 0.3s;
}
.feature-card.pink:hover{
    transform: translateY(-3px);
}

.feature-card.purple{
   
    background: #f6f1ff;
    transition: 0.3s;
}
.feature-card.purple:hover{
    transform: translateY(-3px);
}
.feature-icon {
    width: 55px;
    height: 55px;

    flex-shrink: 0;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;

    background: rgba(255,255,255,0.6);
}

.feature-card h3 {
    font-size: 17px;
    margin-bottom: 8px;
}

.feature-card p {
    color: #596778;
    font-size: 14px;
    line-height: 1.5;
}


/* =========================
   HOW IT WORKS
========================= */

.about {
    padding: 70px 11%;
    background: #fafcfb;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 35px;
}

.section-title p {
    margin-top: 10px;
    color: #647184;
    font-size: 17px;
}

.steps {
    margin-top: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 25px;
}

.step {
    text-align: center;

    max-width: 190px;
}

.step-icon {
    width: 70px;
    height: 70px;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #e1f7ec;

    color: #07885e;

    font-size: 25px;
}

.step h3 {
    margin-top: 18px;

    font-size: 16px;
}

.step p {
    margin-top: 8px;

    font-size: 14px;

    color: #657184;

    line-height: 1.5;
}

.arrow {
    font-size: 30px;
    color: #9aa5b1;
}


/* =========================
   CTA
========================= */

.cta {
    text-align: center;

    padding: 70px 20px;

    background: #eaf8f1;
}

.cta h2 {
    font-size: 35px;
}

.cta p {
    margin: 12px 0 25px;

    color: #596c65;
}


/* =========================
   FOOTER
========================= */

footer {
    text-align: center;

    padding: 35px 20px;

    background: #132b24;

    color: white;
}

.footer-logo {
    font-size: 22px;
    font-weight: bold;
}

.footer-logo i {
    margin-right: 8px;
}

footer p {
    margin-top: 12px;

    color: #b6c5bf;

    font-size: 14px;
}

.copyright {
    margin-top: 20px;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1000px) {

    .navbar {
        padding: 0 5%;
    }

    nav {
        gap: 15px;
    }

    .hero-content {
        padding-left: 5%;
    }

    .hero h1 {
        font-size: 45px;
    }

    .features {
        padding: 25px 5%;
        grid-template-columns: repeat(2, 1fr);
    }

    .about {
        padding: 60px 5%;
    }
}


@media (max-width: 700px) {

    .navbar {
        height: auto;
        padding: 15px 5%;

        flex-wrap: wrap;
        gap: 15px;
    }

    nav {
        order: 3;
        width: 100%;

        justify-content: center;
    }

    nav a {
        padding: 5px;
    }

    .nav-button {
        padding: 10px 15px;
    }

    .hero {
        flex-direction: column;
    }

    .hero-content {
        width: 100%;
        padding: 45px 7%;
    }

    .hero-image {
        width: 100%;
        height: 350px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .features {
        grid-template-columns: 1fr;
        padding: 25px 7%;
    }

    .steps {
        flex-direction: column;
    }

    .arrow {
        transform: rotate(90deg);
    }
}